/*清除默认样式↓*/
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd { 
margin: 0px; 
padding: 0px; 
}
ul { list-style: none; }
img { border-style: none; }
body {
    width: 100%;

}

/*内容全局样式↓*/
.content{
    width: 100%;
    height: 100%;
    min-width: 1226px;
    text-align: center;
}
/*01↓*/
.content1{
    position: relative;
    height: 1072px;
    background: url(../images/changxiang_01.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
.content1 h2{
    padding-top: 50px;
    font-size: 46px;
}
.content1 h3{
    color: #828282;
    font-size: 26px;        
}
.content1 p{
    color: #828282;
    font-size: 20px;
    letter-spacing: 14px;
}
.content1 img{
    position: absolute;
    left: 0;
    bottom: 25%;
}
/* 02 */
.content2{
    position: relative;
    height: 1204px;
    background: url(../images/changxiang_02.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
.content2 .text2 {
    text-align: right;
    padding-top: 21.5%;    
    padding-right: 10%;
}
.content2 .text2 h3 {
    line-height: 35px;
    font-size: 23px;
}
.content2 .text2 p {
    padding-top: 1%;
    color: #7d7b7b;
}
.content2 img{
    position: absolute;
    left: 0;
    bottom: 0;
}
/* 03 */
.content3{
    position: relative;
    height: 499px;
    background: url(../images/changxiang_03.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
.content3 ul {
    height: 388px;
}
.content3 ul li {
    padding-top: 220px;
    width: 400px;
}
.content3 ul li:first-child {
    position: absolute;
    left: 18.5%;
}
.content3 ul li:nth-child(2) {
    position: absolute;
    right: 40%;
}
.content3 ul li:nth-child(3) {
    position: absolute;
    right: 16%;
}
.content3 ul li h4{
    color: #007c36;
    font-size: 22px;
    font-weight: normal;
}
.content3 ul li p{
    color: #fff;
    font-size: 15px;
}
.content3 .text3 {
    height: 111px;
    font-size: 36px;
    line-height: 111px;
    color: #fff;
}
/* 04 */
.content4{
    position: relative;
    height: 1564px;
    background: url(../images/changxiang_04.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
.content4 h4{
    padding-top: 50px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 32px;
}
.content4 >p{    
    color: #ccc;
}
.content4 ul li h5{
    color: #007c36;
    font-size: 16px;
    font-weight: normal;
}
.content4 ul li {
    padding-top: 175px;
    width: 225px;
    font-size: 14px;
    color: #ccc;
}
.content4 ul li:first-child {
    position: absolute;
    left: 27.5%;
}
.content4 ul li:nth-child(2) {
    position: absolute;
    left: 38.5%;
}
.content4 ul li:nth-child(3) {
    position: absolute;
    right: 38.5%;
}
.content4 ul li:nth-child(4) {
    position: absolute;
    right: 27.5%;
}
.content4 img{
    position: absolute;
    left: 21%;
    bottom: 20%;
}
.content4 .text4 {
    padding-top: 55%;
}
.content4 .text4 h3 {
    font-size: 34px;
}
.content4 .text4 .font4-1{
    padding: 15px;
    font-size: 28px;
}
.content4 .text4 .font4-2{
    padding: 10px;
    line-height: 30px;
    font-size: 15px;
}
.content4 .text4 .font4-3{
    color: #007c36;
    font-size: 16px;
    font-weight: normal;
    padding-top: 110px;
}
.content4 .text4 .font4-3 span {
    width: 200px;
    display: inline-block;
}
/* 05 */
.centent5{
    position: relative;
    height: 994px;
    background: url(../images/changxiang_05.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
.content5 h3 {

}
/* 06 */
.content6{
    position: relative;
    height: 991px;
    background: url(../images/changxiang_06.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
/* 07 */
.content7{
    position: relative;
    height: 1235px;
    background: url(../images/changxiang_07.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
/* 08 */
.content8{
    position: relative;
    height: 1516px;
    background-color: red;
    background: url(../images/changxiang_08.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */   
}
/* 09 */
.content9{
    position: relative;
    height: 1040px;
    background: url(../images/changxiang_09.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
/* 10 */
.content10{
    position: relative;
    height: 945px;
    background: url(../images/changxiang_10.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
/* 11 */
.content11{
    position: relative;
    height: 2159px;
    background: url(../images/changxiang_11.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-attachment: scroll; 
	/* background-size: 100% auto; */
}
